.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* outline: 2px solid red; */
}

body, html{
    height: 100%;
    /* outline: 2px solid red; */
}
